body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFD2FC;
    font-size: 18pt;

}

h1, 
h2,
h3,
h3,
h4,
h5,
h6 {
    font-family: 'Lexend', sans-serif;
    color: #1E1B18;
}
a {
    text-decoration: none;
    color: #CA054D;
}
h1 {
    text-shadow: 2px 3px 4px #CA054D;
}
.text-align {
    text-align: center;
}
.profile-align {
    display: block;
    margin: auto;
}